<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/product.css" rel="stylesheet"/>
    <title>Product1</title>
</head>
<body>
    <form method="POST" action="/addToCart">
        <div>
            <h1><%= name %></h1>
            <p>Price : <%= price %></p>
            <p>Description: <%= description %></p>
            <p>ID: <%= id %></p>
        </div>
        <input type="hidden" name="name" value=<%=name %> />
        <input type="hidden" name="price" value=<%=price %> />
        <input type="submit" value="add to cart"/>
    </form>
</body>
</html>